body{
    height:80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.key{
    display: flex;
    margin:10%
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 15%;
    border: solid 3px black;
}
button{
    margin-top: 10%;
}